* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

h1:hover {
    font-size: 200px;
}

@keyframes buttonanimation {
    from{
        background-color: green;

    
    }

    to {
        background-color: purple;
        padding: 50px;
    }
}

.button {
    background-color: rgb(61, 131, 192);
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
    margin-left: 200px;
    animation-name: buttonanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.button:hover {
    background-color: rgb(130, 189, 234);
    border: 1px solid #000000;
    border-radius: 10px;
}

